<div class="container" style="width:100%;height:70%;overflow-y:visible;">
  <div class="col-9" style="padding: 0px">
    <div class="col-12 header-title">
      <h1>{{title}}
      </h1>
    </div>
    <mat-tab-group>
     <mat-tab label="Consultar">
        <div class="mat-elevation-z8">
          <div class="grid"  novalidate [formGroup]="formulario" novalidate>
            <div class="col-3 row">
              <label>Motivo</label>
              <br>
              <input type="text" formControlName="motivo" style="width: 210px; height: 13px;" maxlength="100"  [(ngModel)]="motivo">
            </div>
            <div class="col-3 row">
              <label>Estatus</label>
              <mat-form-field>
               <mat-select  formControlName="estatus"  placeholder="Seleccionar" [(ngModel)]="comboEstatus">  
                 <mat-option value="true">Activo</mat-option>
                  <mat-option value="false">Inactivo</mat-option> 
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3 row">
              <br/>
              <button class="boton-agregar" [disabled]="formulario.invalid" (click) = "buscarMotivosDesaplicacion(0,5)">Buscar</button>
              <button class="boton-limpiar" (click)="limpiarInfo()" >Cancelar</button>
            </div> 
          </div>
          <div class="col-8 row"></div>
          <div class="col-4 row" >
            <button  class="boton-agregar"  (click) = "verAltaMotivoDesaplicacion(0,'')">Agregar</button>
          </div>
        </div>
       <table mat-table [dataSource]="dataSourceMotivoDesaplicacion" matSort  matSortDirection="asc" class="mat-elevation-z8" >
         
          <!--Descripcion -->
          <ng-container matColumnDef="motivo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MOTIVO </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}}  </td>
          </ng-container>             
          
          <!-- Descripcion -->
          

          <ng-container matColumnDef="usuarioCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> USUARIO CREACIÓN </th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioCreacion}} </td>
          </ng-container>
    
          <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA CREACIÓN </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}} </td>
          </ng-container>    
          
          <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIVO </th>
            <td mat-cell *matCellDef="let element">              
              <mat-slide-toggle [(ngModel)]="element.activo" (click)="rowData(element)"></mat-slide-toggle>
            </td> 
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES </th>
            <td mat-cell *matCellDef="let element"> 
              <button  class="boton-limpiar">
                <mat-icon matTooltip="Editar" (click)="verAltaMotivoDesaplicacion(1,element)">edit</mat-icon>              
              </button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" class="mat-paginator-sticky" showFirstLastButtons (page)="pageChanged($event)" [length]="resultsLength"></mat-paginator>
     </mat-tab>
    </mat-tab-group>
  </div>
</div>

