<div class="grid">
  <div class="col-1"></div>
  <div class="col-10">
    <h3>Datos del Empleado</h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="empleadoForm">
      <div class="grid">
        <div class="col-6">
          <label for="">Brm*</label>
          <input type="text" style="width: 90%;" formControlName="brm" id="floatingInput" placeholder="Brm">
        </div>
        <div class="col-6">
          <label for="">Puesto*</label>
          <select formControlName="puesto">
            <option value="Desarrollador FrontEnd">Desarrollador FrontEnd</option>
            <option value="Desarrollador IOS">Desarrollador IOS</option>
            <option value="Desarrollador BackEnd">Desarrollador BackEnd</option>
          </select>
        </div>
        <div class="col-6">
          <label for="">Nombre</label>
          <input style="width: 90%;" formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
        </div>
        <div class="col-6">
          <label for="">Foto</label>
          <input style="height: 20px;width: 465px;" formControlName="foto" type="file" class="form-control"
            id="inputGroupFile01">
        </div>
        <div class="col-12" style="text-align: center;">
          <button class="primary" [disabled]="empleadoForm.invalid" type="submit">{{btnMensaje}}</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-1"></div>
   <div class="col-1"></div>
  <div class="col-10">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="brm">
          <th mat-header-cell *matHeaderCellDef> brm </th>
          <td mat-cell *matCellDef="let element"> {{element.brm}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="foto">
          <th mat-header-cell *matHeaderCellDef> foto </th>
          <td mat-cell *matCellDef="let element"> {{element.foto}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="puesto">
          <th mat-header-cell *matHeaderCellDef> puesto </th>
          <td mat-cell *matCellDef="let element"> {{element.puesto}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> acciones </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="eliminar(element.id)" class="primary">Borrar</button>&nbsp;
            <button (click)="editar(element)" class="orange">Editar</button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>
</div>
<nx-alert></nx-alert>
