<div class="container" style="width:100%;height:70%;overflow-y:visible;">
  <div class="col-9" style="padding: 0px">
    <div class="col-12 header-title">
      <h1>{{title}}
      </h1>
    </div>
    <mat-tab-group>
     <mat-tab label="Consultar">
        <div class="mat-elevation-z8">
          <div class="grid"  novalidate [formGroup]="formulario" novalidate>
             <div class="col-3 row">
              <label>Fecha Inicio</label>
              <mat-form-field>
                <mat-icon matSuffix style="font-size: 1.0em" style="height: 16px;"></mat-icon>
                <input matInput [matDatepicker]="picker1" placeholder="Selecciona una fecha"   [(ngModel)]="fechaInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3 row">
              <label>Fecha Final</label>
              <mat-form-field>
                <mat-icon matSuffix style="font-size: 1.0em" style="height: 16px;"></mat-icon>
                <input matInput [matDatepicker]="picker2" placeholder="Selecciona una fecha"   [(ngModel)]="fechaFin" formControlName="fechaFin">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3 row">
            <div class="col-3 row">

            </div>
            <div class="col-8 row" >
              <br/>
              <button class="boton-agregar" [disabled]="formulario.invalid" (click) = "buscarBitacora()">Buscar</button>
              <button class="boton-limpiar" (click)="limpiarInfo()" >Cancelar</button>
              <br/>
              <br/>
            </div> 
           </div>
           <div class="col-8 row">
            <button  class="boton-limpiar" [hidden]= 'isHiddenBtnGenExcel'>
         
                <mat-icon matTooltip="Descargar" (click) = "generaReporteBitacora()">cloud_download</mat-icon>              
        
            </button>
          </div>   

        </div>
      </div>
      <mat-tab-group>
        <mat-tab label="Exitosos">
          <table mat-table [dataSource]="dataSourceBitacoraExitosos" matSort  matSortDirection="asc" class="border" >
              
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> ID </th>
              <td mat-cell *matCellDef="let element" > {{element.id}}  </td>
            </ng-container> 
            
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> FECHA </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha}}  </td>
            </ng-container>  
            
            <ng-container matColumnDef="mensaje">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> MENSAJE </th>
              <td mat-cell *matCellDef="let element"> {{element.mensaje}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="idreversa">
              <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> IDREVERSA </th>
              <td mat-cell *matCellDef="let element"> {{element.reversa.id}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="idcredito">
              <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%">  IDCREDITO </th>
              <td mat-cell *matCellDef="let element"> {{element.reversa.id_credito}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="folio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> FOLIO </th>
              <td mat-cell *matCellDef="let element"> {{element.reversa.folio}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="estatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> ESTATUS </th>
              <td mat-cell *matCellDef="let element"> {{element.reversa.estatus}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="usuariocreacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> USUARIOCREACION </th>
              <td mat-cell *matCellDef="let element"> {{element.usuarioCreacion}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="fechacreacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> FECHACREACION </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}}  </td>
            </ng-container>
  
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
          </table>
        </mat-tab>
        <mat-tab label="Fallidos">
          <table mat-table [dataSource]="dataSourceBitacoraFallidos" matSort  matSortDirection="asc" class="border" >
              
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> ID </th>
              <td mat-cell *matCellDef="let element" > {{element.id}}  </td>
            </ng-container> 
            
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> FECHA </th>
              <td mat-cell *matCellDef="let element"> {{element.fecha}}  </td>
            </ng-container>  
            
            <ng-container matColumnDef="mensaje">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> MENSAJE </th>
              <td mat-cell *matCellDef="let element"> {{element.mensaje}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="idreversa">
              <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> IDREVERSA </th>
              <td mat-cell *matCellDef="let element"> {{element.reversa.id}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="idcredito">
              <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%">  IDCREDITO </th>
              <td mat-cell *matCellDef="let element"> {{element.reversa.id_credito}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="folio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> FOLIO </th>
              <td mat-cell *matCellDef="let element"> {{element.reversa.folio}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="estatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> ESTATUS </th>
              <td mat-cell *matCellDef="let element"> {{element.reversa.estatus}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="usuariocreacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> USUARIOCREACION </th>
              <td mat-cell *matCellDef="let element"> {{element.usuarioCreacion}}  </td>
            </ng-container> 
  
            <ng-container matColumnDef="fechacreacion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> FECHACREACION </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaCreacion}}  </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
          </table>
        </mat-tab>
      </mat-tab-group>
           
    </mat-tab>
    </mat-tab-group>
    
  </div>
</div>


