<!--style="width:100%;height:70%;overflow-y:visible;"-->
<div class="container" >
  <div class="col-9" style="padding: 0px">
    <div class="col-12 header-title">
      <h1>{{title}}
      </h1>
    </div>
    <mat-tab-group>
     <mat-tab label="Consultar">
        <div class="mat-elevation-z8">
          <div class="grid"  novalidate [formGroup]="formulario" novalidate>
            <div class="col-3 row">
              <label>Credito</label>
              <br>
              <input type="text" formControlName="credito" style="width: 210px; height: 13px;" maxlength="100"  [(ngModel)]="credito">
            </div>
            <div class="col-3 row">
              <label>Fecha Inicio</label>
              <mat-form-field>
                <mat-icon matSuffix style="font-size: 1.0em" style="height: 16px;"></mat-icon>
                <input matInput [matDatepicker]="picker1" placeholder="Selecciona una fecha"   [(ngModel)]="fechaInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3 row">
              <label>Fecha Final</label>
              <mat-form-field>
                <mat-icon matSuffix style="font-size: 1.0em" style="height: 16px;"></mat-icon>
                <input matInput [matDatepicker]="picker2" placeholder="Selecciona una fecha"   [(ngModel)]="fechaFin" formControlName="fechaFin">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3 row">
            <div class="col-3 row">

            </div>
            <div class="col-8 row" >
              <br/>
              <button class="boton-agregar" [disabled]="formulario.invalid" (click) = "validarInput()">Buscar</button>
              <button class="boton-limpiar" (click)="limpiarInfo()" >Cancelar</button>
              <br/>
              <br/>
            </div> 
            
          </div>
          <div class="col-8 row">
            <button  class="boton-limpiar" [hidden]= 'isHiddenBtnGenExcel' >
              <mat-icon matTooltip="Descargar" (click) = "generaReporteReversa()">cloud_download</mat-icon>              
            </button>
          </div>
         
        </div>
      </div>
       <!--height: 400px; width: 1105px;-->
      <div  style="overflow: auto;height: 400px; ">
<table mat-table [dataSource]="dataSourceReporteReversa" matSort  matSortDirection="asc" class="border" style="width: 3000px;">
              
          <ng-container matColumnDef="credito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> Credito </th>
            <td mat-cell *matCellDef="let element"> {{element.movcredito}}  </td>
          </ng-container> 
          
          <ng-container matColumnDef="idcliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> IdCliente </th>
            <td mat-cell *matCellDef="let element"> {{element.idCliente}}  </td>
          </ng-container>  
          
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreCliente}}  </td>
          </ng-container> 


          <ng-container matColumnDef="tipolinea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%">  TipoLinea </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoLinea}}  </td>
          </ng-container> 

          <ng-container matColumnDef="linea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> Linea </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcioncLinea}}  </td>
          </ng-container> 

          <ng-container matColumnDef="cuenta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> Cuenta </th>
            <td mat-cell *matCellDef="let element"> {{element.cuenta}}  </td>
          </ng-container> 

          <ng-container matColumnDef="fechaoriginal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> FechaOriginal </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaOriginal}}  </td>
          </ng-container> 

          <ng-container matColumnDef="cantidadoriginal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header width ="5%"> CantidadOriginal </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidadOriginal}}  </td>
          </ng-container>

          <ng-container matColumnDef="fechareversa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Fecha Reversa </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaReversa}}  </td>
          </ng-container>

          <ng-container matColumnDef="Cantidadreversado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Cantidad Reversado </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidadReversa}}  </td>
          </ng-container>

          <ng-container matColumnDef="tipomovimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoMovimiento}}  </td>
          </ng-container>

          <ng-container matColumnDef="describemov">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Descripcion Movimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcionMovimiento}}  </td>
          </ng-container>

          <ng-container matColumnDef="amortizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Amortizacion </th>
            <td mat-cell *matCellDef="let element"> {{element.amortizacion}}  </td>
          </ng-container>

          <ng-container matColumnDef="fechapagoamortizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Fecha Pago Amo </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaPagoAmortizacion}}  </td>
          </ng-container>

          <ng-container matColumnDef="fechavencimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Vencimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaVencimiento}}  </td>
          </ng-container>

          <ng-container matColumnDef="statusamortizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Estatus Amorti </th>
            <td mat-cell *matCellDef="let element"> {{element.statusAmortizacion}}  </td>
          </ng-container>
          
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario}}  </td>
          </ng-container>

          <ng-container matColumnDef="numerotransaccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> NumTransa </th>
            <td mat-cell *matCellDef="let element"> {{element.numeroTransaccion}}  </td>
          </ng-container>

          <ng-container matColumnDef="clasificacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  width ="5%"> Clasificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.clasificacion}}  </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
      </div>
      <!-- <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" class="mat-paginator-sticky" showFirstLastButtons (page)="pageChanged($event)" [length]="resultsLength"></mat-paginator>-->
      
    </mat-tab>
    </mat-tab-group>
    
  </div>
</div>

