<div class="container" style="width:100%;height:70%;overflow-y:visible;">
  <div class="col-9" style="padding: 0px">
    <div class="col-12 header-title">
      <h1>{{title}}
      </h1>
    </div>
    <mat-tab-group>
     <mat-tab label="Solicitud Reversa" *ngIf ='isHiddenTabSolicitar'>
        <div class="mat-elevation-z8">
          <div class="grid"  novalidate [formGroup]="formulario" novalidate>
            <div class="col-3 row">
              <label>Credito</label>
              <br>
              <input type="text" formControlName="credito" style="width: 210px; height: 13px;" maxlength="100"  [(ngModel)]="credito">
            </div>
            <div class="col-3 row">
              <label>Fecha Inicio</label>
              <mat-form-field>
                <mat-icon matSuffix style="font-size: 1.0em" style="height: 16px;"></mat-icon>
                <input matInput [matDatepicker]="picker1" placeholder="Selecciona una fecha"   [(ngModel)]="fechaInicio" formControlName="fechaInicio">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3 row">
              <label>Fecha Final</label>
              <mat-form-field>
                <mat-icon matSuffix style="font-size: 1.0em" style="height: 16px;"></mat-icon>
                <input matInput [matDatepicker]="picker2" placeholder="Selecciona una fecha"   [(ngModel)]="fechaFin" formControlName="fechaFin">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-3 row">
              <label>Motivo</label>
              <mat-form-field >
               <mat-select  [disabled]="isDisabled" formControlName="motivo"  placeholder="Seleccionar" [(ngModel)]="listadoMotivosDesaplicacion.id">  
                 <mat-option *ngFor="let listadoMotivosDesaplicacion of listadolistadoMotivoDesaplicacion" [value]="listadoMotivosDesaplicacion.id">
                 {{listadoMotivosDesaplicacion.nombre}}
                </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-3 row">
              <label>Transaccion</label>
              <br>
              <input type="text" formControlName="transaccion" style="width: 210px; height: 13px;" maxlength="100"  [(ngModel)]="transaccion">
            </div>
            <div class="col-3 row">
              <label>Cliente</label>
              <br>
              <input type="text" disabled="disabled" formControlName="cliente" style="width: 229px; height: 13px;" maxlength="100"  [(ngModel)]="cliente">
            </div>
            <div class="col-3 row">
              <label>Descripcion</label>
              <br>
              <input type="text" disabled="disabled" formControlName="descripcion" style="width: 500px; height: 13px;" maxlength="100"  [(ngModel)]="descripcion">
            </div>
            <div class="col-3 row">

            </div>
            <div class="col-8 row" >
              <br/>
              <button class="boton-agregar" [disabled]="formulario.invalid" (click) = "buscarAmortizaciones(0,5)">Buscar</button>
              <button class="boton-limpiar" (click)="limpiarInfo()" >Cancelar</button>
              <br/>
              <br/>
              <br/>
              <br/>
              <div class="col-8 row" [hidden]= 'isHiddenFolioGen'>
                <label  >Folio Generado : {{folioGen}}</label>
              </div>
            
            
              
            </div> 
            
          </div>
          <div class="col-8 row">
           
          </div>
         
        </div>
        <div>
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >

            <ng-container  *ngFor="let column of columns; let i = index" matColumnDef="{{ column.field }}">
              <mat-header-cell *matHeaderCellDef>{{ column.title }}
        
              </mat-header-cell>
              <mat-cell  *matCellDef="let row">{{ row[column.field] }}</mat-cell>
            </ng-container>
            
            <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row   *matRowDef="let row; columns: displayedColumns;" ></mat-row>
          
            <!-- Group header -->
            <ng-container matColumnDef="groupHeader">
              
              <mat-cell colspan="999" *matCellDef="let group" style="text-align:left">
              
                <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
                <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
                <mat-checkbox [(ngModel)]="group.check" (change)="onChkChange(group,$event)">
              </mat-checkbox>  
                <strong >{{group[groupByColumns[group.level-1]]}} ({{group.totalCounts}})</strong>

              
              </mat-cell>
            </ng-container>
          
            <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" (click)="groupHeaderClick(row)">
              
            </mat-row>
          
          </mat-table>  
        </div>
        
      <!--<table mat-table [dataSource]="dataSourceDesaplicacionPago" matSort  matSortDirection="asc" class="mat-elevation-z8" >
         
                  <ng-container matColumnDef="seleccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Seleccion </th>
            <td mat-cell *matCellDef="let element"> 
              <div>
                <input class="form-check-input position-static" type="checkbox" 
                id="blankCheckbox" value="option1" aria-label="...">
              </div>
            </td>
            
            
          </ng-container>             
          
          <ng-container matColumnDef="transaccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaccion </th>
            <td mat-cell *matCellDef="let element"> {{element.transaccion}}  </td>
          </ng-container> 
          
          <ng-container matColumnDef="amortizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amortizacion </th>
            <td mat-cell *matCellDef="let element"> {{element.amortizacion}}  </td>
          </ng-container>  
          
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}}  </td>
          </ng-container> 

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}}  </td>
          </ng-container> 

          <ng-container matColumnDef="referencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Referencia </th>
            <td mat-cell *matCellDef="let element"> {{element.referencia}}  </td>
          </ng-container> 

          <ng-container matColumnDef="movimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Movimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}}  </td>
          </ng-container> 

          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidad}}  </td>
          </ng-container> 
          
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>-->
    
      <!-- <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" class="mat-paginator-sticky" showFirstLastButtons (page)="pageChanged($event)" [length]="resultsLength"></mat-paginator>-->
      
      <div class="col-3 row">
        <br/>
        <button class="boton-limpiar" [hidden]= 'isHiddenSolicitar' [disabled]="isDisabledSolicitar" (click) = "generarSolicitud()">Solicitar</button>
        </div>
    </mat-tab>
      
      <mat-tab label="Seguimiento Folios">
        <div class="col-3 row">
        <table mat-table [dataSource]="dataSourceFolios" matSort  matSortDirection="asc" class="mat-elevation-z8" >
         
      
          <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Folio </th>
            <td mat-cell *matCellDef="let element"> {{element.folio}}  </td>
          </ng-container>             
          
          <ng-container matColumnDef="tarea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> tarea </th>
            <td mat-cell *matCellDef="let element"> {{element.tarea}}  </td>
          </ng-container> 
          
          <ng-container matColumnDef="atiende">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> atiende </th>
            <td mat-cell *matCellDef="let element"> {{element.atiende}}  </td>
          </ng-container>  
          
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}}  </td>
          </ng-container> 

          <ng-container matColumnDef="asignar tarea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> asignar tarea </th>
            <td mat-cell *matCellDef="let element"> 
              <button  class="boton-limpiar">
              <mat-icon matTooltip="Asignar" (click)="asignarTarea(element)">assignment</mat-icon>             
            </button>
          </td>
            </ng-container> 

         <tr mat-header-row *matHeaderRowDef="displayedColumnsFolios"></tr>
          <tr  mat-row (click)="buscaAmortizacionFolio(row)" *matRowDef="let row; columns: displayedColumnsFolios;"   [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
        
        </table>
        <!--<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 15, 20]" class="mat-paginator-sticky" showFirstLastButtons (page)="pageChanged($event)" [length]="resultsLength"></mat-paginator>-->
        </div>
        
        <div class="col-3 row">
          
        <table mat-table [dataSource]="dataSourceFolioAmortizacion" matSort  matSortDirection="asc" class="mat-elevation-z8" >
          
          <ng-container matColumnDef="credito">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Credito </th>
            <td mat-cell *matCellDef="let element"> {{element.movcredito}}  </td>
          </ng-container> 
            
          
          <ng-container matColumnDef="transaccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaccion </th>
            <td mat-cell *matCellDef="let element"> {{element.transaccion}}  </td>
          </ng-container> 
          
          <ng-container matColumnDef="amortizacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amortizacion </th>
            <td mat-cell *matCellDef="let element"> {{element.amortizacion}}  </td>
          </ng-container>  
          
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha}}  </td>
          </ng-container> 

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}}  </td>
          </ng-container> 

          <ng-container matColumnDef="referencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Referencia </th>
            <td mat-cell *matCellDef="let element"> {{element.referencia}}  </td>
          </ng-container> 

        <ng-container matColumnDef="movimiento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Movimiento </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}}  </td>
          </ng-container> 

          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
            <td mat-cell *matCellDef="let element"> {{element.cantidadStr}}  </td>
          </ng-container>
          
        
          <tr mat-header-row *matHeaderRowDef="displayedColumnsFoliosAmortizacion"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsFoliosAmortizacion;"></tr>
        </table>
        </div>
        <div class="col-3 row">
          <br/>
          <button class="boton-limpiar" [hidden]= 'isHiddenAutorizar' (click)="procesoAutorizar()" >Autorizar</button>
          <button class="boton-limpiar" [hidden]= 'isHiddenApplicar'  (click)="procesoAplicacion()" >Aplicar</button>
          <button class="boton-limpiar" [hidden]= 'isHiddenRechazar'  (click)="procesoRechazo()" >Rechazar</button>
        </div>
        <div class="col-8 row" [hidden]= 'isHiddenResultRever'>
          <label  >Resultado Reversa : {{ResulReversa}}</label>
        </div>
      </mat-tab>
      
    </mat-tab-group>
    
  </div>
</div>
