<div class="grid col-12 header-title">  
  <div  class="col-9 row">  
    <h2 align="center" mat-dialog-title>COMENTARIO {{titulo}}</h2> 
  </div>
  <div  class="col-1 row">
    <button class="boton-limpiar close-modal"  type="button"  (click)="onNoClick()">
      <span class="material-icons">
        highlight_off
        </span>
    </button>
  </div>  
  </div>
  <div class="grid" [formGroup]="formulario" novalidate>
    <div class="col-12 row">
      <label>Comentario</label>
      <br>
      <mat-form-field>
        <textarea matInput 
        formControlName="comentario"
            [(ngModel)]="comentario"
            maxlength="50"
     >
  </textarea>
      </mat-form-field>
  
      <div *ngIf="formulario.get('comentario').errors && formulario.get('comentario').dirty">
            <p class="msgAlert"> Ingresa valores</p>
      </div>      
    </div>
   <div align="right" mat-dialog-actions class="col-12 row">
      <button mat-button class="boton-agregar" [disabled]="formulario.invalid" (click)="guardarComentario()" cdkFocusInitial>Aceptar</button>
    </div>
    <div class="overlay" *ngIf="spinner">
      <div class="center" >
        <div   class="col-10 row">       
        </div>
        <div  class="col-1 row">
          <mat-spinner
          [color]="color" style="margin:0 auto;">
        </mat-spinner>
        </div>  
      </div>
    </div>
  </div>

