<main class="form-signin text-center mt-5" style="margin-top: 10%;">
  <div style="max-width: 400px;margin:auto">


    <mat-card class="example-card" style="text-align: center;">
      <mat-card-title>
        <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
        <hr>
      </mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
    
        <input type="text" style="width: 300px;" [(ngModel)]="usuario" id="floatingInput" placeholder="Usuario">
        <input type="password" style="width: 300px;" [(ngModel)]="contrasena" id="floatingInput" placeholder="Usuario">
        <!--<mat-form-field appearance="fill" style="width: 300px;">
          <mat-label>Usuario</mat-label>
          <input [(ngModel)]="usuario" matInput>
        </mat-form-field>-->
        <!--<mat-form-field appearance="fill" style="width: 300px;">
          <mat-label>Contraseña</mat-label>
          <input [(ngModel)]="contrasena" type="password" matInput>
        </mat-form-field>-->
    
        <div class="form-floating">
        </div>
        <br>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="iniciarSesion()" style="border-radius: 20px; background-color: black;" mat-raised-button
          color="primary">Ingresar</button>
        <!--<button class="w-100 btn btn-lg btn-primary" (click)="iniciarSesion()" type="submit">Iniciar Sesión</button>-->
      </mat-card-actions>
    </mat-card>

    <!--<br><br>
    <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
    <br><br>
    <div class="form-floating">
      <label for="floatingInput">Usuario</label><br>
      <input type="text" [(ngModel)]="usuario" id="floatingInput" placeholder="name@example.com">
    </div>
    <div class="form-floating">
      <label for="floatingPassword">Contraseña</label><br>
      <input type="password" [(ngModel)]="contrasena" id="floatingPassword" placeholder="Password">
    </div>
    <br>
    <button class="primary" (click)="iniciarSesion()" type="submit">Iniciar Sesión</button>-->
  </div>
</main>
